.btn-learn-more {
  display: flex;
  align-items: center;
  background-color: var(--green-intense);
  color: var(--background-color);
  font-weight: bold;
  padding: 1.4rem 2.2rem;
  border-radius: 10rem;
  gap: 0.3rem;
  height: 50px;
  width: 13.8rem;
  transition: opacity 0.3s ease;
}

.btn-learn-more:hover {
  opacity: 0.9;
}

.btn-learn-more > i {
  transform: rotate(-25deg);
  transition: transform 0.3s ease;
}

.btn-learn-more:hover i {
  /* transform: rotate(-25deg); */
  transform: translatex(10px);
}
.btn-learn-more.large {
  max-width: 60rem;
  height: 5rem;
  width: 100%;
  padding: 1.4rem 25rem;
}

.btn-discover {
  background-color: var(--green-clear);
  color: var(--black);
  padding: 1.4rem 2.2rem;
  font-weight: bold;
  border-radius: 5rem;
  transition: transform 0.3s ease;
}

.btn-discover:hover {
  transform: scale(1.1);
}

/* Card Style */
.card-container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.card-item {
  border-top: 1px solid var(--divider-color);
  max-width: 28.5rem;
  max-height: 25rem;
}

.card-item img {
  margin-top: 4rem;
  margin-bottom: 2.4rem;
}

.card-item h4 {
  margin-bottom: 2rem;
  font-weight: 400;
}

.card-item p {
  text-align: justify;
}
/* Success container card style */

.success-card-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.success-card-container .success-item {
  max-width: 38.7rem;
  max-height: 30rem;
  border-top: 1px solid var(--divider-color);
}

.success-card-container .success-item .number-success {
  font-size: 8rem;
  color: var(--gray-6);
  margin: 6rem o;
}

.success-card-container .success-item .text-content {
  margin-top: 6rem;
}

.success-card-container .success-item .text-content h4 {
  margin-bottom: 2rem;
  font-weight: 400;
}
