header {
  height: 15rem;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container img {
  margin-top: 2.6rem;
}
header .container nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 1.6rem;
}

header .container nav ul {
  display: flex;
  align-items: center;
  gap: 2.7rem;
}

header .container nav ul .active {
  background-color: rgb(40, 40, 40);
  color: var(--background-color);
}

header .container nav ul .active:hover {
  background-color: var(--background-color);
  color: var(--black);
}

header .container nav ul li a {
  color: var(--black);
  font-weight: bold;
  font-size: 1.6rem;
  padding: 0.7rem;
  border-radius: 2rem;
  transition: all 0.4s ease;
}

header .container nav ul li a:hover {
  border-radius: 2rem;
  background-color: rgb(40, 40, 40);
  color: var(--background-color);
}

header .container button {
  margin-top: 1.9rem;
}

/* End of header style */

/* Hero section style */
.s-hero .container h1 {
  margin-bottom: 9.9rem;
}

.s-hero .container .hero-content {
  position: relative;
  margin-top: 15rem;
}

.s-hero .container .hero-content .background-square {
  background-color: var(--green-medium);
  z-index: -2;
  width: 120rem;
  height: 36rem;
  border-radius: 3rem;
  position: absolute;
  bottom: 0;
}

.s-hero .container .hero-content img {
  margin: 0 auto;
  bottom: 0;
}

.s-hero .container .content-bottom {
  margin-top: 11rem;
}

.s-hero .container .content-bottom .tag {
  color: var(--p-color);
  font-size: 1.5rem;
}

.s-hero .container .content-bottom .logos-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  gap: 4rem;
}
/* End of section hero style */

/* Benefits style */
.s-benefits {
  height: 67rem;
}

.s-benefits .container {
  padding-top: 8rem;
  border-top: 1px solid var(--divider-color);
}

.s-benefits .top-content .benefits-text {
  color: var(--green-intense);
  font-size: 1.2rem;
  letter-spacing: -1%;
  line-height: 140%;
  margin-bottom: 5rem;
  display: inline-block;
}
.s-benefits .top-content h2,
p {
  margin-bottom: 5rem;
}

/* Pictures Section */

.s-picture {
  height: 83.3rem;
}

.s-picture .container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 10.2rem;
}

.s-picture .container .content-left {
  border-top: 1px solid var(--divider-color);
  max-width: 59rem;
  justify-content: flex-start;
}

.s-picture .container .content-left h2 {
  margin-top: 6rem;
  margin-bottom: 4rem;
  font-weight: 400;
}

.s-picture .container .content-left .lines-container .line-item {
  display: flex;
  align-items: center;
  gap: 2.1rem;
  padding: 2rem 0;
  border-top: 1px solid var(--divider-color);
}

.s-picture .container .content-left .lines-container {
  max-width: 59rem;
}

.s-picture .container .content-left .lines-container .line-item .line-number {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--p-color);
}

.s-picture .container .content-left .lines-container .line-item p {
  margin-bottom: 0;
  color: var();
}

.s-picture .container .content-left button {
  margin-top: 4rem;
}

/* Specs section style */

.s-specs .container {
  border-top: 1px solid var(--p-color);
  padding: 20rem 0;
}

.s-specs .container .content {
  text-align: center;
  max-width: 72rem;
  margin: 0 auto;
}

.s-specs .container .content .specs-span {
  display: inline-block;
  color: var(--green-intense);
  margin-bottom: 4rem;
}

.s-specs .container .content h2 {
  font-weight: 400;
  margin-bottom: 4rem;
}

/* Section right img */

.s-picture-left .container {
  display: flex;
  align-items: flex-start;
  padding-bottom: 12rem;
}

.s-picture-left .container .content-right {
  max-width: 59rem;
  padding: 14rem 0 14rem 5rem;
  border-top: 1px solid var(--divider-color);
}

.s-picture-left .container .author-container {
  margin-top: 50px;
}

.s-picture-left .container .author-container p {
  margin: 0;
  color: var(--black);
  font-size: 1.5rem;
}

.s-picture-left .container .author-container span {
  display: inline-block;
  color: var(--green-intense);
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

/* Success section */
.s-success .container .top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
  border-top: 1px solid var(--divider-color);
  padding-top: 8rem;
}

.s-success .container .top-content h2 {
  font-weight: 400;
}

.s-success .success-card-container {
  padding-bottom: 12rem;
  padding-top: 8rem;
}

.container .img-container {
  margin-bottom: 4rem;
}

/* Connect style */
.connect-with-us .container {
  padding: 12rem 0;
  border-top: 1px solid var(--divider-color);
}

.connect-with-us .container .text-content {
  margin: 0 auto;
  text-align: center;
  max-width: 60rem;
}

.connect-with-us .container .text-content h2 {
  font-weight: 400;
  margin-bottom: 4rem;
}

.connect-with-us .container .text-content button {
  margin: 0 auto;
}
