header {
  height: 15rem;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container img {
  margin-top: 2.6rem;
}
header .container nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 1.6rem;
}

header .container nav ul {
  display: flex;
  align-items: center;
  gap: 2.7rem;
}

header .container nav ul .active {
  background-color: rgb(40, 40, 40);
  color: var(--background-color);
}

header .container nav ul .active:hover {
  background-color: var(--background-color);
  color: var(--black);
}

header .container nav ul li a {
  color: var(--black);
  font-weight: bold;
  font-size: 1.6rem;
  padding: 0.7rem;
  border-radius: 2rem;
  transition: all 0.4s ease;
}

header .container nav ul li a:hover {
  border-radius: 2rem;
  background-color: rgb(40, 40, 40);
  color: var(--background-color);
}

header .container button {
  margin-top: 1.9rem;
}

/* End of header style */

/* Hero section style */
.s-hero .container h1 {
  margin-bottom: 9.9rem;
}

.s-hero .container .hero-content {
  position: relative;
  margin-top: 15rem;
}

.s-hero .container .hero-content .background-square {
  background-color: var(--green-medium);
  z-index: -2;
  width: 120rem;
  height: 36rem;
  border-radius: 3rem;
  position: absolute;
  bottom: 0;
}

.s-hero .container .hero-content img {
  margin: 0 auto;
  bottom: 0;
}

.s-hero .container .content-bottom {
  margin-top: 11rem;
}

.s-hero .container .content-bottom .tag {
  color: var(--p-color);
  font-size: 1.5rem;
}

.s-hero .container .content-bottom .logos-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  gap: 4rem;
}
/* End of section hero style */

/* Benefits style */
.s-benefits {
  height: 67rem;
}

.s-benefits .container {
  padding-top: 8rem;
  border-top: 1px solid var(--divider-color);
}

.s-benefits .top-content .benefits-text {
  color: var(--green-intense);
  font-size: 1.2rem;
  letter-spacing: -1%;
  line-height: 140%;
  margin-bottom: 5rem;
  display: inline-block;
}
.s-benefits .top-content h2,
p {
  margin-bottom: 5rem;
}

/* Pictures Section */

.s-picture {
  height: 83.3rem;
}

.s-picture .container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 10.2rem;
}

.s-picture .container .content-left {
  border-top: 1px solid var(--divider-color);
  max-width: 59rem;
  justify-content: flex-start;
}

.s-picture .container .content-left h2 {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.s-picture .container .content-left .lines-container .line-item {
  display: flex;
  align-items: center;
  gap: 2.1rem;
  padding: 2rem 0;
  border-top: 1px solid var(--divider-color);
}

.s-picture .container .content-left .lines-container {
  max-width: 59rem;
}

.s-picture .container .content-left .lines-container .line-item .line-number {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--p-color);
}

.s-picture .container .content-left .lines-container .line-item p {
  margin-bottom: 0;
  color: var();
}

.s-picture .container .content-left button {
  margin-top: 4rem;
}
