* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  font-family: "DM Sans", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  background-color: var(--background-color);
  color: var(--black);
}
