h1,
h2,
h3,
h4,
h5 {
  font-family: "Crimson Text", sans-serif;
}

h1 {
  font-size: 15rem;
  line-height: 90%;
  letter-spacing: -4.25%;
}

h2 {
  font-size: 6rem;
  letter-spacing: -3%;
  line-height: 90%;
}

h3 {
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -4%;
}

h4 {
  font-size: 1.8rem;
  letter-spacing: -3%;
  line-height: 100%;
}

P {
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.5%;
  color: var(--p-color);
}
