:root {
  --black: #000000;
  --gray-6: #929292;
  --divider-color: #e9e9e9;
  --background-color: #ffffff;
  --green-clear: #dfecc6;
  --green-medium: #8e9c78;
  --green-intense: #485c11;
  --p-color: #6f6f6f;
}
